@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./assets/ChatBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body.dark {
  color-scheme: dark;
}
/* Light mode styles (default) */
::-webkit-scrollbar {
  width: 8px;
  background-color: #7c7474; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background-color: #454343; /* Light gray thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Dark mode styles */
body.dark::-webkit-scrollbar {
  background-color: #222; /* Dark gray background */
}

body.dark::-webkit-scrollbar-thumb {
  background-color: #444; /* Darker gray thumb */
}
